node_modules
dist
.env
.vscode
.cache
coverage
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.*
.pnp.js
.idea
*.log
*.tsbuildinfo
.vitest
.env.test
.env.local
.env.development
.env.production
.env.test.local
.env.development.local
.env.production.local
*.localhistory
.cache/
.next
.out/
.nuxt
build/
logs/
*.pem

    
